<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum totam, saepe quia placeat dolore ut ad
                pariatur.
                Voluptatibus consectetur sequi ea ut eaque mollitia cupiditate natus sunt! Itaque hic, ipsa nulla
                doloribus minus
                aliquam dolores? Natus nihil voluptatibus enim placeat commodi molestiae sunt quibusdam, eum, quo dolore
                corrupti
                consequuntur quae.
            </p>
        </div>
    </div>
</div>
