@import "light";
@import "dark";

$header-height: 60px;
$header-height-responsive-view: 60px;

$footer-height: 70px;
$footer-height-responsive-view: 70px;

// mixin that enables css variables in light mode
@mixin lighten() {
    --bgColor: #{$bgColor_light};
    --textColor: #{$textColor_light};
    --borderColor: #{$borderColor_light};
    --boxShadowColor: #{$boxShadow_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
    --bgColor: #{$bgColor_dark};
    --textColor: #{$textColor_dark};
    --borderColor: #{$borderColor_dark};
    --boxShadowColor: #{$boxShadow_dark};
}