main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--bgColor);
    color: var(--textColor);

    .content {
        display: flex;
        margin: 82px auto 32px;
        padding: 0 16px;
        max-width: 960px;
        flex-direction: column;
        align-items: center;

        .section {
            border: 2px solid var(--borderColor);
            padding: 15px 30px;
            margin-top: 1px;
            color: var(--textColor);
            max-width: 480px;

            h1 {
                text-align: center;
            }

            ul {
                padding-left: 1.8rem;
            }

            a {
                color: var(--textColor);
            }
        }
    }
}

.demo-container {
    margin-top: 60px;
}