<div class="toolbar" role="banner">
  <img width="40" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <span>Angular Mode Switcher</span>
  <div class="spacer"></div>
  <ng-mode-switcher></ng-mode-switcher>
</div>
<main>
  <div class="content">
    <div class="section">
      <h1>Lorem, ipsum dolor.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam amet laudantium suscipit aliquid
        asperiores
        corrupti veniam numquam quam, voluptates obcaecati odio minima possimus eligendi dolorum excepturi ea tenetur
        unde
        blanditiis qui iste autem architecto beatae delectus. Necessitatibus sapiente dignissimos repellat! Vitae harum
        a
        quas possimus nobis eius qui? Laboriosam, magnam? Quidem veritatis, fugiat ratione, nesciunt obcaecati quisquam
        tempore delectus quod incidunt earum adipisci, aspernatur velit fugit reiciendis. Provident, atque. Veritatis
        cum
        ad in harum inventore aliquid quam illum blanditiis nesciunt voluptates ipsam nulla aliquam, veniam expedita
        facilis beatae maxime vero?</p>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
