<div class="content">
    <div class="section">
        <h1>Angular Mode Switcher</h1>
        <p>ng-mode-switcher is a versatile Angular library that allows developers to effortlessly integrate dark
            mode,
            light mode,
            and auto (system default) mode switching into their applications. With a simple configuration, you can
            provide
            users
            with a seamless experience, adapting to their preferred display settings.
        </p>
        <p>This library offers full customization:</p>
        <ul>
            <li><b>Configurable Display:</b> Choose to show or hide the mode-switching legend.</li>
            <li>
                <b>Customizable Mode Names:</b> Tailor the mode names to fit your application's branding or user
                experience.
            </li>
        </ul>
        <p>
            Make your Angular applications more user-friendly and responsive to individual preferences with
            ng-mode-switcher.
        </p>

        Read this blog post <a href="https://jaganb.dev/blogs/implement-light-dark-mode-in-angular" target="_blank"
            rel="noopener noreferrer">( Implementing Light, Dark, System/Auto Mode in Angular )</a> for guidance on
        implementing light, dark, and system/auto modes in Angular.
    </div>
</div>
